@{
    ViewBag.Title = "GCD";
}


<h4>Finder GCD</h4>
@*<h4>@ViewBag.ResultAfterCalculation</h4>*@
@(ViewBag.n1)
@(ViewBag.n2)

@*<h4><%= Html.Action("GCD", new {numberFirst = @(ViewBag.n1), numberSecond = @(ViewBag.n2), algorithm = "Eurledian"})%></h4>*@

<a href="/GCD/Index" class="bottom">back</a>
